/* Définition des polices personnalisées */

@font-face {
    font-family: 'Mapolice-BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
    url('polices/ballpark.woff') format('woff'),
    url('polices/ballpark.ttf') format('truetype'),
    url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mapolice-Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
    url('polices/dayrom.woff') format('woff'),
    url('polices/dayrom.ttf') format('truetype'),
    url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

#bloc_page {
    width: 900px;
    margin: auto;
}

body {
    background-color: #85E68C;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal {
    display: flex;
    flex-direction: column;

}

#logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;


}

h1,
h2 {
    font-family: 'Mapolice-Dayrom';
    font-style: italic;
    font-weight: bold;

}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 18px;
}

ol {
    font-style: oblique;
    font-size: 18px;
}

nav a:hover {
    color: #E87E3C;
    background-color: white;
}

nav a {
    color: black;
    font-size: 1.3em;
    padding-bottom: 3px;
    text-decoration: underline red;
}



#img360 {
    margin-top: 25px;
    width: 100%;
    margin-bottom: 25px;
    border-radius: 15px;
}

section {
    margin-top: 40px;
    margin-bottom: 40px;
}


.bloc {

    text-align: center;
    font-weight: bold;
    font-size: 60px;
    width: 30%;
    height: 200px;
    margin: auto;
    border-radius: 10px;


}


.arrondie-img {
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}


.structure-bloc {
    border-style: solid;
    border-radius: 10px;
    margin: 2px 5px 2em 0;
    padding: 5px 10px;
}

h4 {
    font-size: 20px;
    font-style: oblique;
}

h3 {
    font-size: 25px;
    font-style: bold;
}

.struct {
    display: flex;
    justify-content: space-between;

}

#logo_restaurant {
    width: 150%;
    margin-top: 5px;
    margin-bottom: 15px;
}

#together {
    width: 75%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.struct_dessous {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#bloc_container {
    display: flex;
    height: 200px;
    justify-content: space-between;
    border-style: solid;
    border-radius: 15px;
    background-color: #F7ECBC;

}

.bloc_green {
    background-color: green;
}

.bloc_white {
    background-color: white;
}

.bloc_red {
    background-color: red;
}
